* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
/* ---------- TYPHOGRAPHY START ------------- */
:root {
  --darkBlue: #00005c;
  --white: #ffffff;
  --black: #000000;
}
/* -------GOOGLE FONT ----------- */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600&family=Inter:wght@600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,600&family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Work+Sans:wght@400;500;700&display=swap");
.urbanist {
  font-family: "Urbanist", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.veitpro {
  font-family: "Be Vietnam Pro", sans-serif;
}

img {
  width: 100%;
}
a {
  color: var(--black);
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  outline: none;
}
.link-btn a {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  background-color: #bcec00;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 2;
}
.link-btn a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e69601;
  transform: scale(0);
  transform-origin: center;
  border-radius: 30px;
  transition: all 0.2s ease;
  z-index: -1;
}
.link-btn a:hover::after {
  transform: scale(1);
}
/* ----------- TYPHOGRAPHY END ------------ */

/* -------------Media Query Start------------ */
@media (max-width: 992px) {
  body header .main-menu .menu {
    top: 89px;
    display: block;
    width: 100%;
    height: 0px;
    position: absolute;
    overflow: hidden;
    left: 0;
    background-image: linear-gradient(#0b121f, #1b1e41);
    text-align: center;
    transition: 0.3s ease;
  }
  body header .main-menu.active .menu {
    padding: 30px 0px 30px 0px;
    background-image: linear-gradient(#0b121f, #1b1e41);
    height: 600px;
    width: 100%;
    box-shadow: 1px 8px 15px #28282885;
    visibility: visible;
  }
  body header .main-menu .menu li {
    margin: 0 auto;
    line-height: 50px;
    width: 100px;
  }
  body header #nav-toggle {
    margin-top: -10px;
    visibility: visible;
    display: inline-block;
  }
  body .dropmenu .fa-angle-down {
    position: inherit;
    margin: 6px 0px 0px 4px;
  }
  /* -----banner-section Start------- */
  body .banner-section h1 {
    font-size: 50px;
  }
  body .banner-section p {
    font-size: 18px;
  }
  /* -----banner-section End------- */
  body .service-section h1 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  body .owl-carousel .owl-nav button.owl-prev,
  body .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
  /* --------about-section Start-------- */
  body .about-section h1 {
    font-size: 35px;
  }
  body .about-section p {
    font-size: 16px;
  }
  /* --------about-section End------- */
  body .review-section h1 {
    font-size: 35px;
  }
  body .review-section p {
    font-size: 16px;
  }
  body .review-section .counterup,
  body .review-section span {
    font-size: 40px;
  }
  /* ----------quality-section Start-------------- */
  body .quality-section h1 {
    font-size: 40px;
  }
  body .quality-section .item .number {
    top: -40px;
    left: -1px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
  }
  /* ------------quality-section End------------ */

  /* ---------build-section Start--------- */
  body .build-section h1 {
    font-size: 40px;
  }
  /* --------build-section End--------- */
  /* ------testimonial-section Start------ */
  body .testimonial-section h1 {
    font-size: 40px;
  }
  /* ------testimonial-section End------- */
  /* ----------content-section Start--------- */
  body .content-section h1 {
    margin-top: 45px;
    font-size: 35px;
  }
  /* ----------content-section End---------- */
  /* ----------blog-section Start---------- */
  body .blog-section h1 {
    font-size: 44px;
  }
  /* ------- blog-section End-------- */
  /* --------faq-section Start-------- */
  body .faq-section h1 {
    font-size: 40px;
  }
  /* --------faq-section End-------- */

  /* -----------footer Start------------ */
  body footer a,
  body footer p {
    font-size: 16px;
  }
  /* -------------footer Start----------- */
}
/* -------------Media Query End------------ */
/* ------------ */
/* -----------Header-part Start--------- */
header {
  position: absolute;
  background-color: transparent;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  text-transform: capitalize;
  z-index: 99999;
  transition: 0.3s ease;
  background-color: #0b121f6d;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo a {
  color: #ffffff;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 90px;
  font-weight: bold;
}
header .main-menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}
header .main-menu .menu li {
  cursor: pointer;
  margin: 0px 12px;
  color: #ffffff;
}
header .main-menu .menu li a,
header .main-menu .menu li span {
  position: relative;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  padding: 8px 0px 5px 0px;
  color: var(--white);
  transition: all 0.2s ease;
}
header .main-menu .menu > li:hover > a,
header .main-menu .menu > li:hover span {
  color: #b9b9b9;
}
header #nav-toggle {
  float: right;
  width: 35px;
  height: 30px;
  cursor: pointer;
  visibility: hidden;
  display: none;
  color: #ff4000;
  z-index: 2;
}
header .submenu {
  text-align: center;
  padding: 10px 0px;
  position: absolute;
  background-image: linear-gradient(#0b121f, #1b1e41);
  display: none;
  visibility: hidden;
  width: 120px;
  z-index: 99999;
}
header .submenu li {
  position: relative;
  margin: 50px 0px;
}

header .submenu li:hover a {
  color: #b9b9b9;
}
.dropmenu .fa-angle-down {
  position: absolute;
  margin: 5px 0px 0px 4px;
}
header .main-menu li.dropmenu:hover .submenu {
  display: block;
  visibility: visible;
}
#nav-toggle span {
  position: relative;
  height: 3px;
  width: 32px;
  background-color: #ffffff;
  display: inline-block;
  margin: auto;
  margin-left: 3px;
  z-index: -1;
}
#nav-toggle.active span {
  background: transparent;
}
#nav-toggle span::before,
#nav-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  transition: 0.3s ease;
  background-color: #ffffff;
  transition: top 0.2s 0.2s ease, transform 0.2s ease;
  -webkit-transition: top 0.2s 0.2s ease, transform 0.2s ease;
}
#nav-toggle span::before {
  top: -8px;
}
#nav-toggle.active span::before {
  top: 0px;
  transition: top 0.2 s ease, transform 0.2s 0.2s ease;
  -webkit-transition: top 0.2s ease, transform 0.2s 0.2s ease;
  transform: rotate(45deg);
  width: 100%;
}
#nav-toggle span::after {
  top: 8px;
}
#nav-toggle.active span::after {
  top: 0px;
  transition: top 0.2s ease, transform 0.2s 0.2s ease;
  -webkit-transition: top 0.2s ease, transform 0.2s 0.2s ease;
  transform: rotate(-45deg);
  width: 100%;
}
/* ------------Header-part End----------- */

/* ----------banner-section Start ------------- */
.banner-section {
  text-align: center;
  padding: 50px 0px 80px 0px;
  min-height: 600px;
  background-image: url(../images/Banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
.banner-section h1 {
  font-size: 65px;
  margin-top: 100px;
}
.banner-section p {
  font-size: 20px;
  color: #c6c6c6;
}
.banner-section .link-btn {
  position: relative;
}
.banner-section small {
  font-size: 12px;
  color: #908e8e;
}
.banner-section .link-btn .icon img {
  position: absolute;
  top: -30px;
  width: 80px;
}
/* ----------------------- */
/* -------- about-section start-------- */
.about-section {
  padding: 50px 0px;
  min-height: 600px;
}
.about-section h4 {
  font-size: 18px;
  color: #3c50e0;
}
.about-section h1 {
  font-size: 48px;
  color: #00005c;
}
.about-section p {
  font-size: 18px;
  color: #627193;
}
/* -------- about-section end-------- */

/* -------- review-section start-------- */
.review-section {
  padding: 80px 0px 50px 0px;
  min-height: 500px;
  background-color: #f9f9fb;
}
.review-section h1 {
  font-size: 48px;
  color: var(--darkBlue);
}
.review-section .image {
  position: relative;
}
.review-section .counterup {
  font-size: 48px;
  color: #000000;
}
.review-section span {
  font-size: 48px;
  color: #705cf6;
}
.review-section p {
  font-size: 20px;
  color: #627193;
}
.review-section h1 span {
  color: #705cf6;
}
.project-review {
  position: relative;
  margin-top: 50px;
}
.project-review .bg-img img {
  position: absolute;
  top: -160px;
  left: -130px;
  width: 300px;
}
/* -------- review-section end-------- */

/* --------service-section start-------- */
.service-section {
  padding: 50px 0px;
  min-height: 400px;
}
.service-section h1 {
  font-size: 48px;
  color: #00005c;
}
.service-section p {
  font-size: 20px;
  color: #627193;
}
.service-section .box p {
  font-size: 16px;
}
.service-section .box {
  margin: 20px 0px;
  padding: 20px;
  min-height: 300px;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
}
.service-section .box img {
  width: 80px;
  margin-bottom: 25px;
}
.service-section .box a {
  color: #908e8e;
}
.service-section .box a .icon {
  position: absolute;
  font-size: 14px;
  padding: 6px 0px 0px 5px;
}
/* -------- service-section end-------- */

/* --------quality-section start-------- */
.quality-section {
  padding: 50px 0px;
  min-height: 570px;
  background-image: url(../images/handp.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.quality-section h1 {
  font-size: 48px;
}
.quality-section p {
  font-size: 20px;
  color: #c7c7c7;
}
.quality-section .item {
  position: relative;
  padding-left: 30px;
  margin: 30px 0px;
  border-left: 1px solid #715cf64a;
}
.quality-section .item .number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  color: #00005c;
  font-weight: bold;
  background-color: #bcec00;
  border-radius: 15px;
}
.quality-section .item h4 {
  font-size: 20px;
  color: #ffffff;
}
.quality-section .item p {
  font-size: 16px;
  color: #b9b9b9;
}
/* --------quality-section end-------- */

/* --------build-section start-------- */
.build-section {
  padding: 50px 0px;
  min-height: 400px;
}
.build-section h4 {
  font-size: 18px;
  color: #3c50e0;
}
.build-section h1 {
  font-size: 48px;
  color: #00005c;
}
.build-section p {
  font-size: 18px;
  color: #627193;
}
/* --------build-section end-------- */

/* --------testimonial-section start-------- */
.testimonial-section {
  padding: 50px 0px;
  min-height: 400px;
  background-color: #f6f6f6;
}
.testimonial-section h6 {
  font-size: 16px;
  color: #3c50e0;
}
.testimonial-section h1 {
  font-size: 44px;
  color: #00005c;
}
.testimonial-section .item {
  padding: 30px;
  margin: 50px 0px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 4px 25px #dcdcdc;
}
.testimonial-section .item h3 {
  font-size: 24px;
}
.testimonial-section small {
  font-size: 14px;
}
.testimonial-section .item p {
  font-style: italic;
  color: #627193;
}
.testimonial-section .item .star img {
  width: 150px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 40px;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 145px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0px;
}
.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}
.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}
.owl-carousel .owl-nav button.owl-next:hover::after,
.owl-carousel .owl-nav button.owl-prev:hover::after {
  background-color: #3c50e0;
}
.owl-carousel .owl-nav button.owl-prev::after,
.owl-carousel .owl-nav button.owl-next::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  background-color: #b3bbdf;
  transition: all 0.3s ease;
}
.owl-carousel .owl-nav button.owl-prev::after {
  content: "\2190";
}
.owl-carousel .owl-nav button.owl-next::after {
  content: "\2192";
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #3a52c9;
}
/* --------testimonial-section end-------- */

/* --------content-section start-------- */
.content-section {
  text-align: center;
  padding: 50px 0px;
  min-height: 500px;
  background-image: url(../images/content-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content-section h1 {
  margin-top: 100px;
  font-size: 48px;
  color: #ffffff;
}
.content-section p {
  color: #908e8e;
}
/* -------- content-section end-------- */

/* -------- blog-section start-------- */
.blog-section {
  padding: 50px 0px;
  min-height: 500px;
}
.blog-section h1 {
  font-size: 48px;
  font-weight: 700;
  color: #00005c;
  margin-bottom: 50px;
}
.blog-section .blog-item > span {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  color: #b9b9b9;
}
.blog-section .blog-item p {
  font-size: 20px;
  margin-top: 8px;
  color: #000000;
}
.blog-section .profile img {
  width: 35px;
  margin-right: 10px;
}
.blog-section .profile span {
  font-size: 14px;
  color: #000000;
}
/* -------- blog-section end-------- */

/* --------faq-section start-------- */

.faq-section {
  padding: 50px 0px 0px 0px;
  background-color: #f6f6f6;
  min-height: 500px;
}
.faq-section h1 {
  font-size: 48px;
  color: #00005c;
}
.accordion-item {
  margin: 25px 0px;
  background-color: transparent;
  border-radius: 20px !important;
}
.accordion-body {
  color: #908e8e;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px !important;
  border: 1px 0 0 1px solid #d9d9d9 !important;
}
.accordion-button {
  font-size: 20px;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 20px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #ffffff;
  border-radius: 15px 15px 0px 0px !important;
}
.accordion-button::after {
  opacity: 0.2 !important;
}
.accordion-button:not(.collapsed)::after {
  opacity: 1 !important;
}
/* --------faq-section end-------- */

/* -------- platform-section start-------- */
.platform-section {
  padding: 50px;
  min-height: 350px;
}
.platform-section p {
  margin-top: 20px;
  color: #908E8E;
}
.platform-section .icon {
  margin: 10px 0px;
}
.platform-section .icon img {
  max-width: 160px;
}
/* -------- platform-section end-------- */

/* -------- Footer start-------- */
footer {
  padding: 50px 0px;
  min-height: 400px;
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
footer h4 {
  color: var(--white);
  margin: 20px 0px;
  font-size: 24px;
}
footer li {
  margin: 0px 0px;
}
footer a,
footer p {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  color: #7880aa;
}
footer .box {
  width: fit-content;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: #ffffff;
}
footer .logo a {
  color: #ffffff;
  display: inline-block;
  font-size: 28px;
}
footer .box input {
  min-width: 280px;
  outline: none;
  border: none;
}
footer .box img {
  width: 43px;
}
footer .social-menu {
  margin-top: 120px;
}
footer .social-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #293965;
  border: 3px solid #324066;
  font-size: 15px;
  color: var(--white);
  transition: all 0.2s ease;
}
footer .social-menu li:hover a {
  background-color: #1a2d61;
}
/* -------- Footer end-------- */
