* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
  outline: none;
}
.link-btn a {
  display: inline-block;
  background-color: #bcec00;
  color: #000000;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
}
/* ----------------------- */
@media only screen and (max-width: 768px) {
  body .owl-carousel .owl-nav button.owl-prev,
  body .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
  body .content-section h1 {
    margin-top: 30px;
    font-size: 48px;
    color: #ffffff;
  }
}
@media only screen and (max-width: 600px) {
  body .quality-section .item .number {
    top: -40px;
    left: -1px;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
  }
  body .review-section span {
    font-size: 38px;
  }
  body footer a,
  body footer p {
    font-size: 16px;
  }
}
/* Media Query */
@media (max-width: 992px) {
  body header #nav-toggle {
    visibility: visible;
    display: inline-block;
  }
  body header .main-menu .menu {
    top: 89px;
    display: block;
    width: 100%;
    height: 0px;
    position: absolute;
    overflow: hidden;
    left: 0;
    background-image: linear-gradient(black, #1b1e41);
    text-align: center;
    transition: 0.3s ease;
  }
  body header .main-menu.active .menu {
    padding: 30px 0px 30px 0px;
    background-image: linear-gradient(black, #1b1e41);
    height: 600px;
    width: 100%;
    box-shadow: 1px 8px 15px #28282885;
    visibility: visible;
  }
  body header .main-menu .menu li {
    margin: 0 auto;
    line-height: 50px;
    width: 100px;
  }
  body header .main-menu .menu li a::before {
    display: inline-block;
  }
  body header .main-menu .menu li:hover::before {
    transform: scaleX(0);
  }
  body .speaker-section .speaker-text {
    padding: 0px 0px 20px 0px;
  }
  body .course-section .tab-pane {
    padding: 0px;
    margin-left: 0px;
  }
}
/* Header-part */
header {
  position: absolute;
  background-color: #ffffff00;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  text-transform: capitalize;
  z-index: 99999;
  transition: 0.3s ease;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo h3 a {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  line-height: 90px;
  font-weight: bold;
}
header .main-menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
}
header .main-menu .menu li {
  cursor: pointer;
  margin: 0px 7px;
  color: #ffffff;
}
header .main-menu .menu li a {
  position: relative;
  padding: 8px 0px 5px 0px;
  color: #ffffff;
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
}
header .main-menu .menu > li:hover > a,
header .main-menu .menu > li:hover > span {
  color: #b9b9b9;
}
header #nav-toggle {
  float: right;
  width: 35px;
  height: 30px;
  cursor: pointer;
  visibility: hidden;
  display: none;
  color: #ff4000;
  z-index: 2;
}
header .submenu {
  text-align: center;
  padding: 10px 0px;
  position: absolute;
  background-image: linear-gradient(black, #1b1e41);
  display: none;
  visibility: hidden;
  width: 120px;
  z-index: 99999;
}
header .submenu li {
  margin: 50px 0px;
}
header .submenu li:hover a {
  color: #b9b9b9;
}
header .main-menu li.dropmenu:hover .submenu {
  display: block;
  visibility: visible;
}
#nav-toggle span {
  position: relative;
  height: 3px;
  width: 32px;
  background-color: #ffffff;
  display: inline-block;
  margin: auto;
  margin-left: 3px;
  z-index: -1;
}
#nav-toggle.active span {
  background: transparent;
}
#nav-toggle span::before,
#nav-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  transition: 0.3s ease;
  background-color: #ffffff;
  transition: top 0.2s 0.2s ease, transform 0.2s ease;
  -webkit-transition: top 0.2s 0.2s ease, transform 0.2s ease;
}
#nav-toggle span::before {
  top: -8px;
}
#nav-toggle.active span::before {
  top: 0px;
  transition: top 0.2 s ease, transform 0.2s 0.2s ease;
  -webkit-transition: top 0.2s ease, transform 0.2s 0.2s ease;
  transform: rotate(45deg);
  width: 100%;
}
#nav-toggle span::after {
  top: 8px;
}
#nav-toggle.active span::after {
  top: 0px;
  transition: top 0.2s ease, transform 0.2s 0.2s ease;
  -webkit-transition: top 0.2s ease, transform 0.2s 0.2s ease;
  transform: rotate(-45deg);
  width: 100%;
}
/* ----------------------- */
/* ----------------------- */
.banner-section {
  text-align: center;
  padding: 50px 0px;
  min-height: 700px;
  background-image: url(../images/Banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
.banner-section h1 {
  font-size: 70px;
  margin-top: 100px;
}
/* ----------------------- */
/* -------- about-section start-------- */
.about-section {
  padding: 50px 0px;
  min-height: 400px;
}
.about-section h4 {
  font-size: 18px;
  color: #3c50e0;
}
.about-section h1 {
  font-size: 48px;
  color: #00005c;
}
.about-section p {
  font-size: 18px;
  color: #627193;
}
/* -------- about-section end-------- */

/* -------- review-section start-------- */
.review-section {
  padding: 80px 0px 50px 0px;
  min-height: 400px;
  background-color: #f9f9fb;
}
.review-section .image {
  position: relative;
}
.review-section .counterup {
  font-size: 48px;
  color: #000000;
}
.review-section span {
  font-size: 48px;
  color: #705cf6;
}
.review-section p {
  font-size: 20px;
  color: #627193;
}
.review-section h1 span {
  color: #705cf6;
}
.project-review {
  position: relative;
  margin-top: 50px;
}
.project-review .bg-img img {
  position: absolute;
  top: -160px;
  left: -130px;
  width: 300px;
}
/* -------- review-section end-------- */

/* --------service-section start-------- */
.service-section {
  padding: 50px 0px;
  min-height: 400px;
}
.service-section h1 {
  font-size: 48px;
  color: #00005c;
}
.service-section p {
  font-size: 20px;
  color: #627193;
}
.service-section .box p {
  font-size: 16px;
}
.service-section .box {
  margin: 20px 0px;
  padding: 20px;
  min-height: 300px;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
}
.service-section .box img {
  width: 80px;
  margin-bottom: 25px;
}
.service-section .box a {
  color: #908e8e;
}
.service-section .box a .icon {
  position: absolute;
  font-size: 14px;
  padding: 6px 0px 0px 5px;
}
/* -------- review-section end-------- */

/* -------- start-------- */
.quality-section {
  padding: 50px 0px;
  min-height: 500px;
  background-image: url(../images/handp.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.quality-section h1 {
  font-size: 48px;
}
.quality-section p {
  font-size: 20px;
  color: #c7c7c7;
}
.quality-section .item {
  position: relative;
  padding-left: 30px;
  margin: 30px 0px;
  border-left: 1px solid #715cf64a;
}
.quality-section .item .number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  color: #00005c;
  font-weight: bold;
  background-color: #bcec00;
  border-radius: 15px;
}
.quality-section .item h4 {
  font-size: 20px;
  color: #ffffff;
}
.quality-section .item p {
  font-size: 16px;
  color: #b9b9b9;
}
/* -------- end-------- */

/* -------- start-------- */
.build-section {
  padding: 50px 0px;
  min-height: 400px;
}
.build-section h4 {
  font-size: 18px;
  color: #3c50e0;
}
.build-section h1 {
  font-size: 48px;
  color: #00005c;
}
.build-section p {
  font-size: 18px;
  color: #627193;
}
/* -------- end-------- */

/* -------- start-------- */
.testimonial-section {
  padding: 50px 0px;
  min-height: 400px;
  background-color: #f6f6f6;
}
.testimonial-section h6 {
  color: #3c50e0;
  font-weight: 600;
}
.testimonial-section h1 {
  font-size: 44px;
  color: #00005c;
  font-weight: 700;
}
.testimonial-section .item {
  padding: 30px;
  margin: 50px 0px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 4px 25px #dcdcdc;
}
.testimonial-section .item p {
  font-style: italic;
  color: #627193;
}
.testimonial-section .item .star img {
  width: 150px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 40px;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 145px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0px;
}
.owl-carousel .owl-nav button.owl-prev {
  left: -30px;
}
.owl-carousel .owl-nav button.owl-next {
  right: -30px;
}
.owl-carousel .owl-nav button.owl-next:hover::after,
.owl-carousel .owl-nav button.owl-prev:hover::after {
  background-color: #3c50e0;
}
.owl-carousel .owl-nav button.owl-prev::after,
.owl-carousel .owl-nav button.owl-next::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  background-color: #b3bbdf;
  transition: all 0.3s ease;
}
.owl-carousel .owl-nav button.owl-prev::after {
  content: "\2190";
}
.owl-carousel .owl-nav button.owl-next::after {
  content: "\2192";
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #3a52c9;
}
/* -------- end-------- */

/* --------content-section start-------- */
.content-section {
  text-align: center;
  padding: 50px 0px;
  min-height: 500px;
  background-image: url(../images/content-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content-section h1 {
  margin-top: 100px;
  font-size: 48px;
  color: #ffffff;
}
.content-section p {
  color: #908e8e;
}
/* -------- content-section end-------- */

/* -------- blog-section start-------- */
.blog-section {
  padding: 50px 0px;
  min-height: 500px;
}
.blog-section h1 {
  font-size: 48px;
  font-weight: 700;
  color: #00005c;
  margin-bottom: 50px;
}
.blog-section .blog-item > span {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  color: #b9b9b9;
}
.blog-section .blog-item p {
  font-weight: 600;
  font-size: 20px;
  margin-top: 8px;
  color: #000000;
}
.blog-section .profile img {
  width: 35px;
  margin-right: 10px;
}
.blog-section .profile span {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
/* -------- blog-section end-------- */

/* -------- start-------- */

/*  .accordion-progress  */
.faq-section {
  padding: 50px 0px 0px 0px;
  background-color: #f6f6f6;
  min-height: 500px;
}
.faq-section h1 {
  font-weight: 700;
  color: #00005c;
}
.accordion-item {
  margin: 25px 0px;
  background-color: transparent;
  border-radius: 20px !important;
}
.accordion-body {
  background-color: #ffffff;
  color: #908e8e;
  border-radius: 0px 0px 20px 20px !important;
  border: 1px 0 0 1px solid #d9d9d9 !important;
}
.accordion-button {
  font-size: 20px;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 20px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #ffffff;
  border-radius: 15px 15px 0px 0px !important;
}
.accordion-button::after {
  opacity: 0.2 !important;
}
.accordion-button:not(.collapsed)::after {
  opacity: 1 !important;
}
/* -------- end-------- */
/* -------- platform-section start-------- */
.platform-section {
  padding: 50px;
  min-height: 350px;
}
.platform-section p {
  margin-top: 50px;
  color: 9088eE;
}
.platform-section .icon {
  margin: 10px 0px;
}
.platform-section .icon img {
  max-width: 160px;
}
/* -------- platform-section end-------- */

/* -------- start-------- */
footer {
  padding: 50px 0px;
  min-height: 400px;
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
footer h4 {
  color: #ffffff;
  margin: 20px 0px;
  font-size: 24px;
}
footer li {
  margin: 0px 0px;
}
footer a,
footer p {
  font-size: 18px;
  color: #7880aa;
}
footer .box {
  width: fit-content;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: #ffffff;
}
footer .logo a {
  display: inline-block;
  color: #ffffff;
  font-size: 28px;
}
footer .box input {
  min-width: 280px;
  outline: none;
  border: none;
}
footer .box img {
  width: 43px;
}
/* -------- end-------- */

/* -------- start-------- */
/* -------- end-------- */

/* -------- start-------- */
/* -------- end-------- */

/* -------- start-------- */
/* -------- end-------- */

/* -------- start-------- */
/* -------- end-------- */

/* -------- start-------- */
/* -------- end-------- */
